@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono:100,400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 88vw;
  height: 70vh;
}
.marker {
  background-image: url('icon.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #dbd2cb;
  border: 1.2em solid white;
}

header {
  text-align: center;
  background-color: #dbd2cb;
}

header h1 {
  font-size: 3.4em;
}

header p {
  margin: 1em;
}

header .hero-image {
  height: 40em;
}

header #heroimage {
  position: relative;
  right: 25vw;
  width: 40%;
}

header .hero-text {
  position: absolute;
  top: 45%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  width: 50%;
}

header .hero-text h1 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

header .hero-text p {
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
}

header button {
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  font-size: 1em;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  margin: 1em;
  cursor: pointer;
}

header button:hover {
  background-color: #555;
  color: white;
}

#about {
  width: 100%;
  text-align: left;
}

#about h2, #about h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.1em;
  text-transform: uppercase;
  margin: 1.5rem auto;
  letter-spacing: 0.2em;
}

#about h3 {
  font-size: 1.1em;
}

#about p {
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
}

#about  .grid-container-about {
  display: grid;
  grid-template-columns:repeat(2, 2fr);
  grid-gap:2rem;
  width: 90%;
  margin:5.1rem 4rem;
}

#about .grid-item-text {
  width: 80%;
}

#about .grid-item-image {
  margin-top: 3em;
}


#measurementStations {
  margin: 10em 4em;
}

#measurementStations h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.1em;
  text-transform: uppercase;
  margin: 1.5rem auto;
  letter-spacing: 0.2em;
}
#reloadData {
  padding:0.4em;
  margin-top:0.7em;
  margin-bottom:4em;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;

}
#measurementStations p {
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  margin-bottom: 1.5em;
  
}
#measurementP {
  width: 45vw;
}
#measurementStations img {
  margin-top:0.2em;
}
#imgP {
  margin: 0.5em 2em;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 89vw;
  height: 90vh;
  
}

.marker {
  background-image: url('icon.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  

}
.mapboxgl-popup-content h3 {
  margin-bottom:1em;
  margin-top:1em;
}
.mapboxgl-popup-close-button {
  padding:1em;
}

#measurementStations #form {
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  text-align: center;
}

#measurementStations #form input {
  padding: 1em;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
}

#measurementStations #form #station, #measurementStations #form #measureParameters {
  padding: 1em;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
}
#form submit {
  width: 20%;
  background-color:rgb(184, 184, 184);
  color: white;
  padding: 14px 20px;
  margin: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
}
#form button:hover {
  background-color:gray;
}
#measurementStations #historic-data {
  margin: 1.5rem auto;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
}
/* footer
-------------------------------------------------- */
.flex-container { 
  display: flex; 
  flex-direction: row;
  width:100%;
  margin-top:3em;
  margin-bottom:2em;
  line-height:0.8em;
}
#info1 {
  margin-left:1em;
}
#info2 {
  flex-grow: 1;
}
#info3 {
  margin-right:1em;
}
footer p{
  font-size:0.75rem;
  padding:0.5em;
  text-align:center;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
}
/* @Media
-------------------------------------------------- */
@media only screen and (max-width: 600px) {
  #heroimage {
    display: none;
  }
  .hero-text h1 {
    font-size: 2.1em;
    margin-left: -4em;
  }
  .hero-text p {
    font-size: 0.8em;
    margin-left: -9.6em;
  }
  .hero-text button {
    margin-left: -7.8em;
  }
  #about {
    margin-left: 0em;
  }
  #about .grid-container-about {
    display: block;
    margin: 1em 2.1em;
  }
  #about .grid-item-text {
    width: 80%;
  }
  #about h2 {
    font-size: 1.1em;
  }
  #measurementStations h2 {
    font-size: 1.1em;
  }
  #measurementStations{
    margin: 1em 2.1em;
    
  }
  #measurementP {
    width: 60vw;
  }
  #map {
    width: 100%;
  }
  .mapboxgl-popup-content {
    max-height: 300px;
    max-width: 150px;
    font-size: 0.8em;
    padding:5px 10px 2px;
  }
  .flex-container {
    display: block;
  }
  #info1,#info2, #info3 {
    padding:1em;
  }
}

/*Historisk Data*/

#submitHistoriskBtn{
  margin-top: 1em;
  margin-bottom: 1em;
}
.listOfMeasurments {
  padding-top: 1em;
  height: 30em;
  width: 50em;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  border-radius: 25px;
  margin: 0 auto;
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
}

.listOfMeasurments #titleType {
  font-weight: 900;
  margin-top: 1em;
  font-size: 1.7em;
}

.listOfMeasurments ul {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  text-align: center;
}

.listOfMeasurments ul ol {
  margin: 10px 0;
  border: 3px solid black;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
}

.listOfMeasurments ul ol span {
  border: 2px solid black;
  padding: 0.5em;
}

/*# sourceMappingURL=style.css.map */